@charset "utf-8";


main>ul{
    display: grid;
    grid-template: repeat(2,1fr)/repeat(4,1fr);
    gap: 50px 25px;
    margin-bottom: 40px;
}

main li{
    width:100%;
    transition: 0.5s opacity;
}

main li:hover{
    opacity:0.7
}

main li>a{
    width: 100%;
}

main li img{
    width: 100%;
}

main li p{
    font-size: 12px;
    color:#333333;
    line-height: 14px;
    cursor: pointer;
    padding:3px 0;
}

main>a{
    
    font-size: 14px;
    color:#333333;
    line-height: 17px;
    margin:0 auto;
    transition: 0.5s opacity;
}
main>a:hover{
    opacity: 0.7;
}


@media screen and (max-width: 899px) {
    main>ul{
        grid-template: repeat(4,1fr)/repeat(2,1fr);
        gap: 50px 25px;
        margin-bottom: 40px;
    }
}